<notifier-container></notifier-container>
<div class="login-form">
    <form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
        <h2 class="text-center">Sign in</h2>
        <div class="form-group">
            <input type="text" formControlName="pesel" maxlength="11" class="form-control" id="pesel"
                placeholder="Pesel" required="required"
                [ngClass]="getClass((submitted && fields.pesel.errors),fields.pesel)">
            <div *ngIf="submitted && fields.pesel.errors" class="invalid-feedback">
                <div *ngIf="fields.pesel.errors.required">Pesel number is required</div>
                <div *ngIf="fields.pesel.errors.minlength">Pesel must have a 11 digitals</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password"
                required="required" [ngClass]="getClass((submitted && fields.password.errors),fields.password)">
            <div *ngIf="submitted && fields.password.errors" class="invalid-feedback">
                <div *ngIf="fields.password.errors.required">Password is required</div>
            </div>
            <div *ngIf="oauthError != null" class="text-danger text-center font-weight-bold"> {{oauthError}} </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-warning">Sign in</button>
        </div>
        <div class="clearfix">
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>
    </form>
</div>